



/*side bar */

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body{font-family: 'Poppins', sans-serif;
     background: #fafafa}
p{font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
	font-weight:300;
	line-height: 2.7em;
	color: #999;
}
a,
a:hover,
a:focus{
	color: inherit;
	text-decoration: none;
	transition: all 0.4s;
}
/*
.navbar{
	padding: 15px 10px;
	background: #3FB280;
	border: none;
	border-radius: 0;
	margin-bottom: 10px;
	box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
}

.navbar-btn{
	box-shadow: none;
	outline: none!important;
	border: none;
}

*/


#sidebar {

   

    
    
    transition: all 0.3s;
}
#sidebar.active{
	margin-left: -250px;

}

#sidebar .sidebar-header{
	padding: 20px;
	
}
#sidebar ul.components{
	padding: 20px 0px;
	border-bottom: 1px solid #47748b;

}

#sidebar ul p{
	padding: 10px;
	font-size: 1.1em;
	display: block;
}

#sidebar ul li a{
	padding: 10px;
	font-size: 1.1em;
	display: block;
	
	border-top: 1px solid black;
}
#sidebar ul li a:hover {
    color: #B25F51;
    
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    
   
}
a[data-toggle="collapse"] {
    position: relative;
}
.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #3FB280;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}





@media(maz-width:768px){
	#sidebar{margin-left: -250px;}
	#sidebar.active{
		margin-left: 0px;
	}
	#sidebarCollapse span{
		display: none;
	}
}


/*end side bar */





















